<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
  
  <body>
    <main class="main">
  
      {{ if .IsHome }}
      {{ "<!-- header -->" | safeHTML }}
      <header class="banner {{if .Site.Params.banner.bg_image}}overlay bg-cover{{else}}bg-primary{{end}}" data-background="{{ .Site.Params.banner.bg_image | absURL }}">
        {{ partial "navigation.html" . }}
        {{ partial "banner.html" . }}
      </header>
      {{ "<!-- /header -->" | safeHTML }}
      {{ else }}
      {{ "<!-- header -->" | safeHTML }}
      <header class="shadow-bottom sticky-top bg-white">
        {{ partial "navigation.html" . }}
      </header>
      {{ "<!-- /header -->" | safeHTML }}
      {{ end }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
      
    </main>

    <!-- Start of HelpCrunch Embed Code -->
    <script type="text/javascript">
    (function(w,d){
      w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
      function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/%27;(d.body%7C%7Cd.head).appendChild(s);%7D
      if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
    })(window, document)
    </script>

    <script type="text/javascript">
      HelpCrunch('init', 'myfc', {
        applicationId: 1,
        applicationSecret: 'uekjZx9YQ78vlbT/C/xjQWOJY8Dos7IZ/WfMvVJHgDsggTJ/DGnFmEuZhxq4TF9QNQGAVUpolQHsOtI1WcxZ9g=='
      })

      HelpCrunch('showChatWidget');
    </script>
    <!-- End of HelpCrunch Embed Code -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>

</html>