{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <form action="{{ .Site.Params.contact_form_action | safeURL }}" id="ajuda-billimatic">
          <input type="text" id="name" name="name" placeholder="Nome" class="form-control mb-4 shadow rounded-0" required>
          <input type="email" id="mail" name="mail" placeholder="Email" class="form-control mb-4 shadow rounded-0" required>
          <input type="tel" id="phone" name="telefone" placeholder="DDD e Telefone" class="form-control mb-4 shadow rounded-0">
          <textarea name="message" id="message" placeholder="Mensagem"
            class="form-control mb-4 shadow rounded-0" required></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}